
.comments{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}


.comments > img{
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.commentsBox{
    flex: 1;
}
.commentsBox footer{
    margin-top: 1rem;
}
.commentsBox footer button{
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 2px;
    gap: 0.5rem;
}
.commentsBox footer button:hover{

    color: var(--green-300);
    
}

.commentsContent{
    background: var(--gray-700);
    padding: 1rem;
    border-radius: 8px;
}
.commentsContent p{
   margin-top: 1rem;
   color: var(--gray-300);
}
.commentsContent header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.commentsContent header button{
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;

}
.commentsContent header button:hover{
   color: red;
}

/* 
.authorAndTime{
    display: flex;
    flex-direction: column;
} */
.authorAndTime strong{
    display: block;
    font-size: 0.875rem;
    line-height: 1.6;
}
.authorAndTime time{
    display: block;
    font-size: 0.70rem;
    line-height: 1.6;
    color: var(--gray-400);
}

