
.contact{
    padding: 0 2% 2% 2%;
    width: 100%;
    height: auto;
}

.contact h1{
    margin-bottom: 0;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.text-container p{
    text-align: justify;
    width: 50%;
}

.icons img{
    width: 50px;
    margin: 5%;
}