footer{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #392759;
    padding: 10px;
   
}

footer h4, footer p{
    color: aliceblue;
    
}
footer h4{
    margin: 0;
}

