.header{
    width: auto;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    background: var(--gray-600);
}

header img{
    width: 50px;
    height: auto;
    
}